.header {
  background-color: #E0E0E0;
}
.header__body {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 1em 3em;
}
@media (min-width: 600px) {
  .header__body {
    justify-content: space-between;
  }
}
.header__name {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3.5em;
  font-weight: bold;
  font-style: italic;
}
.header__item-list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.header__list-item {
  display: flex;
  align-items: center;
  transition: background-color 0.5s ease;
  border-bottom: 3px solid rgb(98, 16, 250);
  margin-right: 20px;
  font-size: 1.3em;
}
.header__list-item:hover {
  background-color: darkgray;
  padding: 0.2em 0.3em;
  border-radius: 5px;
}
.header__toggle {
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(1.5);
  cursor: pointer;
  flex-direction: column;
}
.header__image {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  filter: grayscale(100%);
}
.item-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.link {
  text-decoration: none;
  color: #003333;
}
.link_hovered {
  transition: color 0.5s ease-in-out;
}
.link_hovered:hover {
  color: rgb(98, 16, 250);
}

.bi {
  margin: 0.3em;
}

.main__body {
  padding: 2em 4em;
  width: 80%;
  margin: 0 auto;
  font-size: 1.2em;
}
.main__section-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 2em;
  background-color: #e0e0e0;
  padding: 0.5em;
  border-radius: 20px;
  margin: 1em 0;
  box-shadow: 6px 6px 12px #000;
}
.main__span-heading:hover {
  cursor: pointer;
  color: rgb(98, 16, 250);
  font-size: 52px;
  transition: all 1s ease;
}
.main__icon {
  margin-right: 1em;
  transform: scale(1.5);
}
.main__section-text {
  display: grid;
  grid-template-columns: 2fr 5fr;
  padding: 1em 0;
  margin: 1em 0;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  border-width: 1px;
  border-style: solid;
  border-color: #000;
  border-radius: 20px;
}
.main__section-text_centered {
  display: flex;
  justify-content: center;
  align-items: center;
}
.main__section-text_centered:last-child {
  width: 65%;
  margin: 0 auto;
  flex-wrap: wrap;
}
.main__item-list {
  padding: 0 2em;
}
.main__list-item {
  margin: 0.5em 0;
}
.main__section-year {
  font-size: 1.5em;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main__section-item {
  background-color: #e0e0e0;
  font-size: 1.5em;
  border-radius: 5px;
  margin: 5px;
  padding: 5px;
}
.table {
  background-color: #E0E0E0;
  border-collapse: collapse;
  border-radius: 1em;
  border-width: 3px;
  border-style: solid;
  border-color: #fff;
  overflow: hidden;
  width: 75%;
}
.table__row {
  border: 3px solid #fff;
}
.table__cell {
  border: 3px solid #fff;
  padding: 0.5em;
}
.table__cell:last-child {
  text-align: center;
  width: 15%;
}
.table__cell:first-child {
  padding-left: 2em;
}

.bi-caret-down-square:hover,
.bi-brightness-high-fill:hover,
.bi-explicit:hover {
  color: rgb(98, 16, 250);
  cursor: pointer;
  transform: scale(1.2);
  transition: all 0.5s ease;
}

.footer {
  background-color: #E0E0E0;
  font-size: 1.5em;
}
.footer__item-list {
  padding: 2em 0;
  width: 25%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}
.footer__image {
  transform: scale(1.5);
}
.footer__icon {
  transform: scale(2);
  margin: 0 0.3em;
}
.footer__contacts {
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 1.5;
}
.footer__rights {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2em 0 1em 0;
}

html {
  font-size: 100%;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
}

*, *::before, *::after {
  box-sizing: inherit;
}