@use './forwarded-styles.scss' as for;

.main {
  &__body {
    padding: 2em 4em;
    width: 80%;
    margin: 0 auto;
    font-size: for.$sectionBodyFontSize;
  }

  &__section {
  }

  &__section-body {
  }

  &__section-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: for.$sectionTitleFontSize;
    background-color: #e0e0e0;
    padding: 0.5em;
    border-radius: 20px;
    margin: 1em 0;
    box-shadow: 6px 6px 12px #000;
  }

  &__span-heading:hover {
    cursor: pointer;
    color: for.$linksHoverColor;
    font-size: 52px;
    transition: all 1s ease;
  }

  &__icon {
    margin-right: 1em;
    transform: scale(1.5);
  }

  &__section-text {
    display: grid;
    grid-template-columns: 2fr 5fr;
    padding: 1em 0;
    margin: 1em 0;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    border: {
      width: 1px;
      style: solid;
      color: #000;
      radius: 20px;
    }

    &_centered {
      @include for.flexCentering;
    }

    &_centered:last-child {
      width: 65%;
      margin: 0 auto;
      flex-wrap: wrap;
    }
  }

  &__item-list {
    padding: 0 2em;
  }

  &__list-item {
    margin: 0.5em 0;
  }

  &__section-year {
    font-size: for.$yearFontSize;
    @include for.flexCentering;
  }

  &__section-agency {
  }

  &__section-link {
  }

  &__section-func {
  }

  &__section-item {
    background-color: #e0e0e0;
    font-size: 1.5em;
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
  }

  &__table {
  }
}
.link {
}
.item-list {
}
.list-item {
}
.table {
  background-color: for.$headerFooterBGColor;
  border: {
    collapse: collapse;
    radius: 1em;
    width: 3px;
    style: solid;
    color: #fff;
  }
  overflow: hidden;
  width: 75%;

  &__row {
    border: 3px solid #fff;
  }

  &__cell {
    border: 3px solid #fff;
    padding: 0.5em;
  }

  &__cell:last-child {
    text-align: center;
    width: 15%;
  }

  &__cell:first-child {
    padding-left: 2em;
  }
}

.bi-caret-down-square:hover,
.bi-brightness-high-fill:hover,
.bi-explicit:hover {
  color: for.$linksHoverColor;
  cursor: pointer;
  transform: scale(1.2);
  transition: all 0.5s ease;
}
