// Font size

$sectionTitleFontSize: 2em;
$headerNameFontSize: 3.5em;
$navElemFontSize: 1.3em;
$footerFontSize: 1.2em ;
$sectionBodyFontSize: 1.2em;
$yearFontSize: 1.5em;

// Background colors

$headerFooterBGColor: #E0E0E0;

// Hover color
$linksHoverColor: rgb(98, 16, 250);